*{
    box-sizing: border-box;
    border: solid 1px black;
}
:root{
    --white : #fff;
    --theme: #56e6e5;
}
html,body{
    padding: 0;
    margin: 0;
    /* tempoary font */
    font-family: 'Courier New', Courier, monospace;
}
header{
    text-align: center;
}
main{
    position: relative;
    min-height: 75vh;
}
section{
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;
    padding: 1rem;
}
path{
    position: relative;
}
.pin:hover{
    /* Testing purpose */
    fill: red;
    cursor: pointer;
}
.imgBox{
    max-width: 100ch;
    /* temp sizing */
    width: 100%;
    height: 10rem;
}
#map{
    max-width: 150ch;
    margin: 0 auto;
    overflow: scroll;
    /* height: 80vh; */
}
/* svg{
    scale: 3;
} */
#locateContainer{
    position: relative;
}
#question{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--white);
}
.tooltip{
    background-color:var(--white);
    width: 8rem;
    height: 4rem;
    padding: 1rem;
    position: absolute;
    top:0;
    left: 50%;
}
.btn{
    background-color: var(--theme);
    color: var(--white);
    display: block;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
/* .row{
    display: flex;
    justify-content: space-between;
} */
.hidden{
    display: none;
}
/* responsive flexbox */
.flexbox{
    display: flex;
    flex-direction: column;
}

/* Building info detials */
#buildingInfo{
    display: flex;
}

/* Pointcard page */
#pointcard {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 2rem;
}

#pointcard div {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;

}
.space {
    border: 2px dotted grey;
    background-color: var(--white);
}
.stampe {
    background-color: brown;
}

/* media query */
@media screen and (min-width:600px) {
    .flexbox{
        flex-direction: row;
    }
    #pointcard {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}