*{
    box-sizing: border-box;
    border: solid 1px black;
}
:root{
    --white : #fff;
    --dark: #000;
    /* Header/Footer */
    --theme: #92C0DE;
    /* Border/Info Button */
    --btn: #617F93;
    /* Nav Button */
    --navbtn:#414F5D;
}
html,body{
    padding: 0;
    margin: 0;
    /* tempoary font */
    font-family: Arial, Helvetica, sans-serif
}
h1,h2,h3,h4,h5,h6,header,footer{
    text-align: center;
}
header,footer{
    background-color: var(--theme);
    color: var(--white);
}

footer{
    min-height: 20vh;
}

main{
    position: relative;
    min-height: 75vh;
}
section{
    /* width: 100%; */
    max-width: 80ch;
    margin: 0 auto;
    padding: 1rem;
}

nav{
    display:none !important;
}

a{
    text-decoration: none;
}
nav a{
    background-color: var(--navbtn) !important;
    margin-bottom: 1rem;
}
path{
    position: relative;
}
.pin:hover{
    /* Testing purpose */
    fill: var(--theme);
    cursor: pointer;   
}

/* Reusable components */
.imgBox{
    max-width: 100ch;
    /* temp sizing */
    width: 100%;
    height: 10rem;
}
.tooltip{
    background-color:var(--white);
    outline: solid 5px var(--btn);
    width: 80%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    background-color: var(--btn);
    color: var(--white);
    display: block;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    
}


/* Display and layout */
.hidden{
    display: none;
}
.pa-sm{
    padding: .5rem;
}
.row{
    display: flex;
    justify-content: space-between;
}
/* responsive flexbox */
.flexbox{
    display: flex;
    flex-direction: column;
}

/* Building info detials */
#buildingInfo{
    display: flex;
}

/* Specific secitons & IDs*/

#map{
    max-width: 150ch;
    margin: 0 auto;
    overflow: scroll;
    /* height: 80vh; */
}
#map svg{
    width: 800;
}
#locateContainer{
    position: relative;
}
#question{
    position: absolute;
    top:50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    background-color: var(--white);
}

#about,#pointcard{
    outline: solid 5px var(--navbtn);
    margin: 1.5rem 1.5rem;
}

/* Pointcard page */
/* #pointcard {
    padding: .5rem;
} */
#pointcard .wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: .5rem;
    background-color: var(--navbtn);
    padding: .5rem;
}

#pointcard .stampe,#pointcard .space {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

}
.space {
    border: 2px dotted grey;
    background-color: var(--white);
}
.stampe {
    background-color: brown;
}


/* media query */
@media screen and (min-width:600px) {
    nav{

        display: flex;
        justify-content: center;
    }
    nav a{
        margin-inline: 1rem;
        margin-bottom: 0;
    }
    .flexbox{
        display: flex !important;
        flex-direction: row;
    }
    #pointcard .wrap {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    #map svg{
        width: unset;
    }
    .tooltip{
        padding: .2rem;
        max-width: 20ch;

        top:0;
        left: 50%;
    }
}

@media screen and (min-width:765px){
    #about,#pointcard{
        margin: 1.5rem auto;
    }
}

